<%-include("partials/header");-%>
<h4 class="text-center mt-3">Students</h4>
<% if(massage!==null){%> 
  <section class="container">
    <section class="alert alert-success pr">
        <%=massage%> <span class="float-right pa"><button  class="close" style="border:inherit;background-color: inherit;">&times;</button></span>
            </section>
  </section>
    <%}%>
       
            <form action="students" method="post">
                <section class="row">
                    <section class="col-2">
                        <label for="semester">Semester</label>
                <select name="semester" class="form-select">
                    <option selected>Select Semester</option>
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                    <option value="VI">VI</option>
                    <option value="VII">VII</option>
                    <option value="VIII">VIII</option>
                </select>
                    </section>
                    <section class="form-group col-3">
                        <label for="session">Session</label><br>
                        <select name="session" id="session" class="form-select">
                                <option selected>Select Session</option>
                            <option value="2019-2023">2019-2023</option>
                            <option value="2020-2024">2020-2024</option>
                            </select>
                    </section>
                    <section class="col-3">
                            <label for="courses">Courses</label>
                            <section class="d-flex">
                            <select name="courses" class="form-select bor">
                                <option selected>Select Courses</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Computer Scince">Computer Scince</option>
                                <option value="Software Enginering">Software Enginering</option>
                            </select>
                            <button class="btn btn-primary borbutton">Search</button>
                       </section>
                    </section>
            </section>
            </form>
     

 
            <%if(data!==null){ %>
            <div style="overflow-x: auto;">
            <table class="table text-white table-bordered table-hover mt-3" >
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Roll</th>
                        <th scope="col">Gender</th>
                        <th scope="col" style="width: 200px;">Date of Birth</th>
                        <th scope="col">Email</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Semester</th>
                        <th scope="col">CNIC</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Session</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
            
                    <tbody>
                        <% for(let z=0; z<data.length; z++) {%>
                        <tr>
                            
                            <td><%=data[z].Name%></td>
                            <td><%=data[z].RollNumber%></td>
                            <td><%=data[z].Gender%></td>
                            <td><%=data[z].DateOfBirth%></td>
                            <td><%=data[z].Email%></td>
                            <td><%=data[z].Courses%></td>
                            <td><%=data[z].Semester%></td>
                            <td><%=data[z].CNIC%></td>
                            <td><%=data[z].PhoneNumber%></td>
                            <td><%=data[z].Address%></td>
                            <td><%=data[z].Session%></td>
                            <td><form action="/studentdelete" method="post">
                               <section class="d-flex">
                                <button class="btn btn-danger" name="delete" value="<%=data[z]._id%>">Delete</button>
                                <button class="btn btn-success text-white ml-2" name="update" value="<%=data[z]._id%>">Update</button>
                               </section>
                            </form></td>
                        </tr>
                        <%}%>
                    </tbody>
            </table>
        </div>
       
         <%}%>
   
         <%-include("partials/footer")-%>